usn{
	display: block; 
	color: crimson;
}
name{
	display: block; 
	color: darkcyan;
	font-weight: bolder;
	font-size: 20px;

}
email{
	display: block; 
	color: green;
}
college{
	display: block; 
	color: grey;
}
branch{
	display: block; 
	color: navy;
}
yearofjoining{
	display: block; 
	color: orange;
}

student1, student2, student3{
	border: 5px double indigo;
	display: inline-block;
	padding: 10px; 

}